<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="player"></div>
    <script src="../../../static/js/player.js"></script>
    //   mounted() {
        // var player = polyvPlayer({
        //   wrap: "#player",
        //   width: 800,
        //   height: 533,
        //   vid: "88083abbf5535a4d7b4d8614427559e0_8"
        // });
    //   }

</body>





</html>